@import "tailwindcss";
@import "./variables.css";
@import "./special.css";
@import "./scrollbar.css";

.photo-layer img {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: none;
}
.photo-layer-blur {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%) scale(1.1);
  filter: blur(38px);
}
.photo-layer-main {
  width: 100%;
  height: auto;
  transform: translate(-50%, -50%);
}
@media (max-width: 775px) {
  .photo-layer-main { width: auto; height: 100%; }
}

@layer base {

  :root {
    background-color: var(--bg-color);
    color: var(--text-color);
  }

  body {
    @apply bg-[--bg-color] text-[--text-color];
    font-family: "Noto Serif SC", "Times New Roman", "STZhongsong", serif;
    overflow-y: scroll;
  }
  

  ::selection {
    background-color: var(--selection-bg-color);
    color: var(--selection-text-color);
  }
  
  ::-moz-selection {
    background-color: var(--selection-bg-color);
    color: var(--selection-text-color);
  }

}
