---
import Layout from '@layouts/Layout.astro';
import Profile from '@components/Profile.astro';
import Footer from '@components/Footer.astro';
import ThemeIcon from '@components/control/ThemeIcon.astro';

const mottos = [
  "生活不止眼前的苟且，还有诗和远方。",
  "Stay hungry, stay foolish.",
  "人生如逆旅，我亦是行人。",
  "种一棵树最好的时间是十年前，其次是现在。",
  "世界那么大，我想去看看。"
];

---

<Layout title="欢迎来到我的个人空间">
  <ThemeIcon />
  <div slot="footer">
    <Footer />
  </div>

  <div class="bottom-section">
    <Profile />
    <Footer />
  </div>
</Layout>