---
import '../styles/countdown.css';
---

<div class="container">
    <div class="content">
    <div class="date" id="todayDate">今天是</div>
    <div class="countdown">
        <span>Chan与Chen已经相爱</span>
        <span class="days" id="daysLeft">0天</span>
    </div>
    <div class="countdown">
        <span>Chan与Chen在一起了</span>
        <span class="days" id="daysTogether">0天</span>
    </div>
    </div>
</div>

<script>
    import "../scripts/countdown.js";
</script>