---
import '../styles/giftshow.css';

import Photo from './photo.astro';
---

<div class="media-container">
    <Photo classes="media" location="paintings/gift" number="1" type="png" />
    <p class="hint">点击图片可预览</p>
</div>

<script>
    import "../scripts/giftshow.js"; 
</script>