---
import '../styles/slideshow.css';

import Photo from './photo.astro';
---

<div class="slideshow-container">
    <Photo classes="slideshow-slide fade" location="xiezhen/xz" number="1" type="JPG" />
    <Photo classes="slideshow-slide fade" location="xiezhen/xz" number="2" type="JPG" />
    <Photo classes="slideshow-slide fade" location="xiezhen/xz" number="3" type="JPG" />
    <Photo classes="slideshow-slide fade" location="xiezhen/xz" number="4" type="JPG" />
    <Photo classes="slideshow-slide fade" location="xiezhen/xz" number="5" type="JPG" />
    <Photo classes="slideshow-slide fade" location="xiezhen/xz" number="6" type="JPG" />
</div>